# Ignore everyfile without an extension except for Makefile
*
!*/
!*.*
!Makefile
# * tells git to ignore everything
# !*/ tells git to not ignore directories
# !*.* tells git to not ignore files with extensions
# !Makefile tells git to not ignore Makefile

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
